{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Explore academic data and create what the world needs...">
        <meta name="author" content="explore.ac">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
      
         <!-- Bootstrap core CSS -->
        <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{% static 'home/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{% static 'home/css/agency.css' %}" rel="stylesheet">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
      
    </head>

    <body class="{% block body_class %}{% endblock %}" id="page-top">
        {% wagtailuserbar %}
      
          <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Explore.ac</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#portfolio">Queries</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#">Items</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

        {% block content %}{% endblock %}
      
        <!-- Logos -->
          <section class="py-5 logos-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="{% static 'home/img/logos/envato.jpg' %}" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="{% static 'home/img/logos/designmodo.jpg' %}" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="{% static 'home/img/logos/themeforest.jpg' %}" alt="">
                  </a>
                </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#">
                    <img class="img-fluid d-block mx-auto" src="{% static 'home/img/logos/creative-market.jpg' %}" alt="">
                  </a>
                </div>
             </div>
            </div>
          </section>
      
         <!-- Footer -->
          <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <span class="copyright">Copyright &copy; Your Website 2019</span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
        
        <!-- Bootstrap core JavaScript -->
         <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
         <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

         <!-- Plugin JavaScript -->
         <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

         <!-- Contact form JavaScript -->
         <script src="{% static 'home/js/jqBootstrapValidation.js' %}"></script>
         <script src="{% static 'home/js/contact_me.js' %}"></script>

         <!-- Custom scripts for this template -->
         <script src="{% static 'home/js/agency.min.js' %}"></script>
      
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
