{% extends "base_ea.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}

<!-- Title -->
<section class="bg-light page-section" id="article_title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</section>

<!-- StreamField -->
<section class="bg-light page-section" id="query_free_text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include_block page.body %}
            </div>
        </div>
    </div>
</section>

<!--Tags-->

{% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}

{% block extra_js %}

{% endblock %}


