{% extends "ea_base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}

<!-- Title -->
{% image page.intro_image original as intro_image %}
  <header class="masthead masthead-article" {% if intro_image %} style="background-image: url('{{ intro_image.url }}');" {% endif %} id="article_title">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">{{ page.title }}</div>
        </div>
    </div>
</header>


<!-- Article -->
<section class="bg-light page-section" id="streamfield">

    <!-- Categories -->
    {% with categories=page.categories.all %}
    {% if categories %}
        <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:-60px;margin-bottom:60px">
                <h3 style="display: inline;font-size:100%">Posted in:</h3>
                <ul style="display: inline">
                    {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.title }}
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Streamfield -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include_block page.body %}
            </div>
        </div>
    </div>

    <!-- Tags -->
    {% if page.tags.all.count %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:60px;margin-bottom:-60px">
                <h3 style="display: inline;font-size:100%">Tags:</h3>
                <ul style="display: inline" style="margin-left:-20px">
                    {% for tag in page.tags.all %}
                    <li style="display: inline">
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>&nbsp;&nbsp;&nbsp;
                    </li>
                    {% endfor %}
                </ul>                
            </div>
        </div>
    </div>
    {% endif %}

</section>


{% endblock content %}

{% block extra_js %}

{% endblock %}


