{% extends "ea_base.html" %}
{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


  <!-- Header -->
  {% image page.intro_image original as intro_image %}
  <header class="masthead" {% if intro_image %} style="background-image: url('{{ intro_image.url }}');" {% endif %}>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">{{ page.intro|richtext }}</div>
        <!-- Search -->
        <div class="input-group input-group-rounded input-group-merge col-lg-8" style="float: none; margin: 0 auto;">
          <input type="search" class="form-control form-control-rounded form-control-prepended  text-center" placeholder="What are you looking for ?" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
        <!-- End search -->
      </div>
    </div>
  </header>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center intro-articles">
          {{ page.intro_articles|richtext }}
        </div>
      </div>
      <div class="row">

        {% for post in page.get_children.specific %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="{% pageurl post %}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <!-- Getting feed_image -->
            {% if post.feed_image %}
              {% image post.feed_image fill-400x324 class="img-fluid" %}
            {% else %}
              <img class="img-fluid" src="{% static 'home/img/portfolio/03-thumbnail.jpg' %}" alt="">
            {% endif %}  
            <!-- End of feed_image -->
          </a>
          <div class="portfolio-caption">
            <h4>{{ post.title }}</h4>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>

{% endblock content %}
